<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Agile Actors IWG - Games</title>
    <link rel="stylesheet"  type="text/css" th:href="@{css/main.css}" media="screen" />
    <link th:href="@{css/bootstrap-rating.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" th:src="@{js/games.js}">
    </script>
    <script type="text/javascript" th:src="@{js/bootstrap-rating.min.js}"></script>

</head>
<body>


<nav role="navigation" class="navbar navbar-inverse">
    <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">IWG Agile Actors</a>
    </div>
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="/games">Games</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
        </ul>
    </div>
</nav>

<div class="row">
<label for="selection">Sort by (Asc)</label>
<div id="selection" class="btn-group bootstrap-select">
    <select class="selectpicker" id="selected" onchange="location.href='/games?' + 'sort=' + this.value ">
        <option th:each="option : ${sortedOptions}"
                th:value="${option.value}"
                th:text="${option.text}"
                th:selected="${option.isSelected(selected)}">
        </option>
    </select>
</div>
</div>


<div class="container" style="margin-bottom:20px; margin-top:20px;max-width:1200px;">
    <div class="row">
        <div class="col-sm-12 col-xs-12 col-md-4 col-lg-3" th:each="game : ${list}">
            <div class="thumbnail bootsnipp-thumb">
                <div style="width: auto;">
                    <img style="height: 100px; margin: 0 auto" class="img-responsive" th:src="${game.image}" th:title="${game.name}" th:alt="${game.name}">
                </div>
                <ul class="list-group text-center">
                    <li class="list-group-item"><i class="fa fa-check"></i><input type="hidden" class="rating" th:value="${game.rating}" data-readonly><span style="margin-left: 2px" >(</span><span th:text="${game.usersRated}"> </span><span style="margin-left: 1px" class="glyphicon glyphicon-user">)</span></li>
                    <li class="list-group-item"><i class="fa fa-check"></i><span>Odds of result: </span><span th:text="${game.odds}"></span><span> %</span></li>
                    <li class="list-group-item"><i class="fa fa-check"></i><span>Game price: </span><span th:text="${game.price}"></span><span> &euro;</span></li>
                    <li class="list-group-item"><i class="fa fa-check"></i> <span>Prize: </span><span th:text="${game.prize}"></span><span> &euro;</span></li>
                </ul>
                <div class="caption">
                    <button type="button" id="btn_learn_more" class="btn btn-warning" data-toggle="modal" data-target="#myModal" th:onclick="'javascript:getGameId(\'' + ${game.id} + '\');'">Learn more</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;" data-toggle="modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content" >

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                    <h3 class="form-signin-heading" id="myModalLabel" style="color:cornsilk">Log in</h3>
                </div> <!-- /.modal-header -->

                <div class="modal-body">
                    <form id="loginForm" role="form" enctype="multipart/form-data" method="POST" data-toggle="validator">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Username" name="username" id="username" required>
                                <label class="input-group-addon glyphicon glyphicon-user"></label>
                            </div>
                        </div> <!-- /.form-group -->

                        <div class="form-group">
                            <div class="input-group">
                                <input type="password" class="form-control" placeholder="Password" name="password" id="password" minlength="5" required>
                                <label class="input-group-addon glyphicon glyphicon-lock"></label>
                            </div>
                            <!-- /.input-group -->
                        </div> <!-- /.form-group -->

                        <div class="login">
                            <button type="submit" class="btn btn-success">Login</button>
                        </div>
                        <div class="mtop10 mbottom10">
                            <span class="failure-message t-center" id="failureMessage" hidden = "hidden">Login unsuccessful. Please try again!</span>
                        </div>
                    </form>

                </div> <!-- /.modal-body -->

                <div class="modal-footer">
                        <span class="rj" style="color: white;">Not a member; <a href="/register" class="js-account-popup" style="text-decoration: underline;">Register</a></span>
                        <img src="../static/images/logo.png" th:src="@{/images/modalLogo.png}" class="img-responsive center-block" width="48" height="37" alt="Logo" align="right"/>
                </div> <!-- /.modal-footer -->

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <!-- Pagination Bar -->
    <div th:fragment='paginationbar'>
        <div>
            <ul class='pagination pagination-centered'>
                <li th:class="${page.firstPage}?'disabled':''">
                    <span th:if='${page.firstPage}'>← First</span>
                    <a th:if='${not page.firstPage}' th:href='@{${page.url}(page=0,size=${page.size}, sort=${selected})}'>← First</a>
                </li>
                <li th:class="${page.hasPreviousPage}? '' : 'disabled'">
                    <span th:if='${not page.hasPreviousPage}'>«</span>
                    <a th:if='${page.hasPreviousPage}' th:href='@{${page.url}(page=${page.number-2},size=${page.size}, sort=${selected})}' title='Go to previous page'>«</a>
                </li>
                <li th:each='item : ${page.items}' th:class="${item.current}? 'active' : ''">
                    <span th:if='${item.current}' th:text='${item.number}'>1</span>
                    <a th:if='${not item.current}' th:href='@{${page.url}(page=${item.number-1},size=${page.size}, sort=${selected})}'><span th:text='${item.number}'>1</span></a>
                </li>
                <li th:class="${page.hasNextPage}? '' : 'disabled'">
                    <span th:if='${not page.hasNextPage}'>»</span>
                    <a th:if='${page.hasNextPage}' th:href='@{${page.url}(page=${page.number},size=${page.size}, sort=${selected})}' title='Go to next page'>»</a>
                </li>
                <li th:class="${page.lastPage}? 'disabled' : ''">
                    <span th:if='${page.lastPage}'>Last →</span>
                    <a th:if='${not page.lastPage}' th:href='@{${page.url}(page=${page.totalPages - 1},size=${page.size}, sort=${selected})}'>Last →</a>
                </li>
            </ul>
        </div>
    </div>

</div>

</body>
</html>